body{
    background-color: #DCD7C9;

}

.CuadroLogin {
    font-size: 20px;
    /*font-family: "Montserrat"; */
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 500px;
    border-radius: 30px;
    background-color: #3F4E4F;
    display: flex;
}

.Izquierda img {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 400px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px ;

   
}

.Derecha {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    margin-right: 35px;
    margin-top: 5%;
    float: right;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Form{
    float: right;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.foto {
    padding-inline: 50%;
}

.Derecha img {
    width: 150px;
    border-radius: 30px;
}

.input {
    margin-top: 15px;
    padding-inline-start: 20px;
    padding-inline-end: 70px;
    padding-block: 10px;
    margin-bottom: 15px;
    background-color: #DCD7C9;
    
}
input:focus {
    outline:none!important;
}

select:focus {
    outline:none!important;
}

option{
    color: #3F4E4F;
}

.white {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.font {
    /*font-family: "Montserrat";*/
    font-size: 0.8em;
    color: black;
}

.Entrar {
    background: #A27B5C;
    padding: 10px;
    padding-inline: 40px;
    border: none;
    border-radius: 30px;
    margin-top: 3%;
    cursor: pointer;
    color: #DCD7C9;
    font-size: 0.8em;
}

.button2 {
    text-decoration: none;
    background: #DCD7C9;
    padding: 10px;
    padding-inline: 40px;
    border: none;
    border-radius: 30px;
    margin-top: 6%;
    cursor: pointer;
    color: #7c7c7c;
    font-size: 0.8em;
    text-decoration: none;

}

a {

    text-decoration: none;
}



input {
    background-color: #f5f5f5;
    border: none;
    border-radius: 30px;
}
::-ms-reveal {
    color: #3F4E4F;
    position: absolute;
    left: 240px;
  }