.slidebar {
    
  
    width: 14rem;
    height: calc(100vh - 52px);
    border-right: 1px solid #c4ccde;
    background-color: #2C3639;

   



}

ul {
    list-style: none;
    padding: 1rem 2rem;
}

li {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.dv {
    background-color: #A27B5C;
    border: none;
    width: 250px;
    height: 35px;
    color: white;
    border-radius: 10px;
}

.dv:hover {
    background-color: #A27B5C;
    border: none;
    width: 250px;
}
.dv:focus{
    background-color: #A27B5C;
}
.CRUD{
    width: 110px;
}
.swal2-confirm {
    background-color: #A27B5C;
    border: none;
    border-radius: 7px;
    color:white;
    height: 40px;
    width: 100px;
    margin: 5px;
  }
  
  .swal2-cancel {
    margin: 5px;
    background-color: #dc3545;
    border: none;
    border-radius: 7px;
    color:white;
    height: 40px;
    width: 100px;
  }

  