.slidebar {
    width: 14rem;
    height: calc(100vh - 52px);
    border-right: 1px solid #c4ccde;
    background-color: #2C3639;
}

ul {
    list-style: none;
    padding: 1rem 2rem;
}

li {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

.dv {
    background-color: #A27B5C;
    border: none;
    width: 250px;
}

.dv :hover {
    background-color: #A27B5C;
    border: none;
    width: 250px;
}